@import '../../styles/mixins';

.home-banner-midd {
  .midd-bann-text-slider-float-left {
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    width: 100%;
    background-color: #000;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    padding: 9px 5px 0px 1%;

    .midd-bann-text-first{
      float:left;
      min-width:10%;
    }
    .midd-bann-text-second{
      margin-left:1%;
      float:left;
      position: relative;
      width:80%;
      overflow: hidden;
      font-weight: bold;
      text-align: center;
      span{
        margin:auto;
      }
    }
  }

  .midd-bann-p {
    color: #FFD700 !important;
    font-size: 14px;
    float: left;
    font-weight: bold;
    letter-spacing: 1px;
  }

  @media (max-width: 800px) {
    .midd-bann-text-slider-float-left {
      padding: 12px 5px 0px 2%;
    }
    .midd-bann-text-first{
      min-width:5%;
    }
    .midd-bann-p {
      font-size: 12px;
    }
    .midd-bann-text-second{
      width:10%;
      font-weight: 200;
    }
  }
}
