@import '../../styles/mixins';

.home-banner-midd {
  .midd-bann {
    height: 40px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    padding-top: 7px;
  }

  .midd-bann-a {
    color: #151515 !important;
    font-size: 12px;
    font-weight: bold;
  }
}
