@import '../../styles/mixins';

.home-comments {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);

  .home-comments-list-div-history {
    height: 250px;
    padding: 20px;
    overflow-y: scroll;
    margin: 15px 0px 15px 0px;
  }

  .home-comments-post-comments {
    width: 100%;
    min-height: 100px;
    padding: 20px;
  }

  .comment-show-divs-list {
    min-height: 20px;
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .username-p-design {
    font-size: 12px;
    color: #0289cb;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
  }

  .date-p-design {
    font-size: 10px;
    color: #424242;
    margin: 10px 0 0 0;
  }

  .commet-p-design {
    font-size: 13px;
  }

  .comment-button {
    width: 100%;
    margin-top: 10px;
  }
}
