@import '../../styles/mixins';

.home-error-landing {
    text-align: center;
    width:100%;
    height: 1500px;
    font-size: 20px;
    padding:15%;
    background-color: #fff; //yellow position

    p{
        color:#000;
        margin: 20px;
        font-weight: bold;
    }

    .p-subtitle{
        font-size: 12px;
        margin: 20px;
    }
}
