@import '../../styles/mixins';

.home-nav-bar {

  .dropdown-item {
    font-size: 14px;
  }

  .blue-background {
    background-color: #0056b3;
  }

  .main-bar {
    position: fixed;
  }

  .a-link {
    color: white !important;
    font-size: 14px !important;
    cursor:pointer;
  }

  .a-link:hover {
    font-weight: bold;
  }

  .navbar-light .navbar-toggler{
    border:none;
  }

  .search-article-navbar-button{
    background-color: #fff;
    padding:10px;
    border-radius: 5px;
    color: #0056b3 !important;
    margin: 0px 10px 0px 10px;
  }
  
}
