@import '../../styles/mixins';

.home-nav-bar {
  .navbar {
    padding: 3px 10px 3px 10px;
    border-top: 1px solid #d5d5d6;
    border-bottom: 1px solid #d5d5d6;
  }
  .dropdown-menu {
    width: 350px;
    height: 450px;
    overflow-y: scroll;
  }

  .dropdown-menu::-webkit-scrollbar {
    display: none;
  }

  .drop-down-list-items-desktop {
    cursor: pointer;
  }

  .drop-down-list-items-desktop:hover {
    font-weight: bold;
  }

  .search-div-bar-floating {
    min-width: 200px;
    height: 20px;
    margin-right: 20px;
    right: 190px;
    transition: opacity 0.3s linear;
    z-index: 10000;
    input {
      height: 28px;
      padding: 10px;
      width: 165px;
      margin-top: -4px;
      border: 0px;
      margin-left: 20px;
      font-size: 14px;
    }
    img {
      width: 25px;
      height: 25px;
      margin-left: 5px;
      margin-top: -3px;
      cursor: pointer;
      border: none;
    }
  }

  z-index: 11000;

  text-align: left;
  .dropdown-item {
    font-size: 14px;
  }

  .diss-in-desktop {
    display: none;
  }

  .border-top-white {
    border-top: 1px solid #000;
    margin-top: 0px;
  }

  .blue-background {
    background-color: #fff; //yellow position
    font-size: 13px;
  }

  .main-bar {
    position: fixed;
  }

  .a-link {
    color: #000 !important;
    font-size: 14px !important;
    cursor: pointer;
  }

  .a-link:hover {
    font-weight: bold;
  }

  .navbar-light .navbar-toggler {
    border: none;
  }

  .search-article-navbar-button {
    background-color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin: 3px 10px 0px 0px;
  }

  .search-icon-button-nav {
    margin-top: -1px;
  }

  .search-form-nav-float {
    float: left;
    width: 100%;
  }

  .search-input-menu {
    display: none;
    padding: 10px 0px 10px 0px;
  }

  .width-input {
    width: 70%;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    background-color: #f5f5f5;
    outline: none;
    float: left;
  }

  .width-button {
    width: 28%;
    color: #fff;
    padding: 8px;
    background-color: #000;
    border: 1px solid #000;
    float: left;
    text-align: center;
    margin-bottom: 0;
  }

  @media (max-width: 800px) {
    .blue-background {
      padding-bottom: 8px;
    }
    .diss-mobile-menu-dropdown {
      display: none;
    }
    .brand-link-nav {
      a {
        font-size: 13px !important;
        margin-top: 4px;
      }
    }
    .search-input-menu {
      display: block;
    }

    .disappear-on-mobile {
      display: none;
    }

    .diss-in-desktop {
      display: block;
    }
  }
}
