@import '../../styles/mixins';

.home-terms-and-cond {
  width:100%;
  min-height: 500px;
  background-color: #f5f5f5;
  padding:5% 10% 5% 10%;

  .text-div-content-inner{
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding:50px;

      p{
          text-align: justify;
      }
  }
}
