@import '../../styles/mixins';

.home-user-header {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;

  .user-pic-header-background-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-header-edit-user {
    height: 20px;
  }

  .edit-user-button-form {
    width: 100%;
  }

  .form-modal-edit-user {
    padding: 20px;
  }

  .close-modal-header-edit-user {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .follow-button-user-header {
    position: absolute;
    top: 15px;
    padding: 6px 17px 6px 17px;
    border: 1px solid #fafafa;
    right: 10px;
    font-size: 14px;
    background-color: #fff;
    color: #151515;
    cursor: pointer;
    border-radius: 2px;
  }

  .telegram-div {
    position: absolute;
    width: 300px;
    right: 10px;
    top: 115px;
    height: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    button {
      width: 100%;
      margin-top: 5px;
    }
    textarea {
      height: 140px;
      border: 1px solid #f2f2f2;
    }
  }

  .mailbox-div {
    position: absolute;
    width: 300px;
    right: 10px;
    top: 75px;
    height: 400px;
    padding: 15px;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    .mailbox-inner-messages-div {
      float: left;
    }
    .mailbox-pic-header-background-image {
      width: 30px;
      height: 30px;
      float: left;
      border-radius: 15px;
    }
    .username-name-message {
      float: left;
      font-size: 13px;
      margin: 5px 0px 10px 10px;
      font-weight: bold;
      cursor: pointer;
    }
    .date-message {
      float: left;
      font-size: 12px;
      margin: 6px 0px 10px 10px;
    }
    .message-content {
      font-size: 13px;
      margin: 18px 0px 10px 10px;
    }
  }

  .telegram-button-user-header {
    position: absolute;
    top: 65px;
    text-align: center;
    padding: 17px 19px 4px 0px;
    border: 1px solid #fafafa;
    right: 10px;
    font-size: 14px;
    background-color: #fff;
    color: #151515;
    cursor: pointer;
    border-radius: 2px;
  }

  .mailbox-button-user-header {
    position: absolute;
    top: 15px;
    text-align: center;
    padding: 6px 5px 6px 0px;
    border: 1px solid #fafafa;
    right: 10px;
    font-size: 14px;
    background-color: #fff;
    color: #151515;
    cursor: pointer;
    border-radius: 2px;
  }

  .user-name-header-title {
    position: absolute;
    bottom: 55px;
    left: 22%;

    .user-name-header-title-username {
      font-size: 27px;
      color: #fff;
      cursor: pointer;
    }
    .user-name-header-title-profession {
      font-size: 17px;
      color: #fff;
      margin-top: -20px;
    }
  }

  .edit-pen-user-profile-style {
    margin-left: 20px;
  }

  .mailbox-pen-user-profile-style {
    margin-left: 5px;
  }

  .follow-button-user-header:hover {
    font-weight: bold;
  }

  p {
    margin-top: -5px;
  }

  .user-pic-header {
    height: 100px;
    position: absolute;
    top: 25px;
    left: 20px;
    width: 20%;
  }

  .user-data-header {
    height: 100px;
    width: 80%;

    h4 {
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      margin: -7px 0px 0px 0px;
      padding: 0;
      overflow: hidden;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      padding: 5px 5px 5px 0px;
      text-decoration: none;
    }

    .li-font-weight-detail {
      font-weight: bold;
    }
  }

  .user-detail {
    font-size: 14px;
    margin-top: -15px;
    color: rgba(0, 0, 0, 0.6);
  }

  .user-profile-picture {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    cursor: pointer;
    margin: auto;
    border-radius: 75px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: 800px) {
    .user-profile-picture {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-size: 150px;
    }
    .user-name-header-title {
      bottom: 0px;
      left: 5%;

      .user-name-header-title-username {
        font-size: 20px;
        color: #fff;
      }
      .user-name-header-title-profession {
        font-size: 17px;
        color: #fff;
        margin-top: -20px;
      }
    }
  }
}
